@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
  }

  .hide-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 20;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateX(-100%);
  opacity: 0;
  width: 300px;
}

.show-sidebar {
  transform: translateX(0);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
  }
}

.content {
  flex: 1;
  transition: 0.3s ease-in-out;
  margin-left: 0;
}
